body {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}
.image {
    height: 30px;
    width: 100px;
    display: inline-block;
    background-image:url('https://archive.ph/Bss88/51a3832e6af6792add876216da444db23a4bea96.png');
    background-size: 100px, 30px;
    margin-left: 1.6rem;
    margin-bottom: -0.3rem;
}
.search-bar {
    width: 30rem;
    height: 1.1rem;
    padding: 5px;
    font-size: 1.3rem;
    margin-left: 2.3rem; 
    margin-bottom: -0.5rem;
}
nav .nav-bar{
    margin-top: 2rem;
}
.search-button {
    width: 3rem;
    height: 2.5rem;
    margin-bottom: 2rem;
    margin-left: 0;
}
.container{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap:4rem;
}

/*.side-title{
    margin-right: 2rem;
}*/
.side-pictures{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.5rem;  
}
.side-title h5{
    font-size: 0.9rem;
    margin: 0;
    padding-bottom: 0.8rem;
}
.side-title h6{
    margin:0;
    color: #283e3e; 
}
.menu {
    margin-left: 2.7rem;
    color: #e0ebeb;
}


