body {
    background-color: #e0ebeb;
    box-sizing: border-box; 
}
.image {
    height: 30px;
    width: 100px;
    display: inline-block;
    background-image:url('https://archive.ph/Bss88/51a3832e6af6792add876216da444db23a4bea96.png');
    background-size: 100px, 30px;
    margin-left: 5rem;
}
.search-bar {
    width: 50rem;
    height: 1.5rem;
    padding: 5px;
    font-size: 1.5rem; 
}
.search-button {
    width: 3rem;
    height: 2.5rem;
    margin-bottom: 2rem;
    margin-left: 0;
}
.container{
    display: grid;
    grid-template-columns: 60% 30%;
    grid-column-gap:4rem;
}
iframe{
    margin-left: 2rem;
}
.side-title{
    margin-right: 2rem;
}
.side-pictures{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.5rem;  
}
.side-title h5{
    font-size: 0.9rem;
    margin: 0;
    padding-bottom: 0.8rem;
}
.side-title h6{
    margin:0;
    color: #283e3e; 
}


