body {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}
header {
    background-color: white;
}
main {
    background-color: transparent;
}
aside {
    background-color: transparent;   
}
/*article {
    background-color:;
}*/
footer {
    background-color: rgb(27, 25, 24);
}
.header-grid {
    grid-area: header;
    margin-top: -1.5rem;
    width: 86rem;
    height: 7rem;
    position: fixed;
}
.video-grid {
    grid-area: main;
    margin-top: 5rem;
    margin-left: 2rem;
    width: 52rem;
}
.aside-grid {
    grid-area: aside;
    display: grid;
    margin-top: 5rem;
    margin-right: 1rem;
    margin-left: 2rem;
    grid-template-columns: 0.8fr 1.2fr;
    grid-column-gap: 0.5rem;
}

.article-grid {
    grid-area: article;
    margin-left: 2rem;
}

.footer-grid {
    grid-area: footer;
}

.container-grid {
    display: grid;
    grid-template-areas: 
    'header header'
    'main aside'
    'article aside'
    'footer footer';
    background-color: rgb(247, 247, 248);
    padding: 10px;
}


.menu {
    margin-left: 3rem;
    color: #606060;
}

.image {
    height: 30px;
    width: 100px;
    display: inline-block;
    background-image:url('https://archive.ph/Bss88/51a3832e6af6792add876216da444db23a4bea96.png');
    background-size: 100px, 30px;
    margin-left: 1.6rem;
    margin-bottom: -0.3rem;
    margin-right: 5rem;
}
.search-bar {
    width: 30rem;
    height: 1.1rem;
    padding: 5px;
    font-size: 1.3rem;
}
.search-box {
    display: inline-block;
    margin-left: 2.3rem; 
    margin-bottom: 1rem;
}
nav .nav-bar{
    margin-top: 2rem;
}
.search-btn {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    margin-bottom: -0.19rem;
    margin-right: 15rem;
}
.search-button {
    width: 3rem;
    height: 1.94rem;
    margin-left: -0.29rem;
    margin-bottom: -3rem;
}
.header-icon {
    display: inline;
}
.nav-icon {
    display: inline-block;
    width: 1.7rem;
    height: 1.5rem;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: -0.6rem;
    fill: #606060;
    cursor: pointer;
  }
  .profile-pic {
      border-radius: 50%;
      margin-bottom: -1.2rem;
  }


/* .container{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap:3rem;
}
.video{
    margin-left: 4rem;
    margin-top: 2rem;
} */
/* .side-title{
    margin-right: 5rem;
} */
.side-title p{
  text-transform: uppercase;
  /* margin-left: 2rem; */
  color:#606060;
}
.fa-toggle-on{
    margin-left: 1rem; 
    color:#0077b3;
}
/* .side-pictures{
    display: grid;
    grid-template-columns: 35% 60%;
    grid-row-gap: 1.5rem; 
    margin-top: 2rem;   
} */
.side-picture p{
   font-size: 1.2rem;
}
/* .side-pictures img{
    height: 50%;
} */
.side-title h5{
    font-size: 1rem;
    margin: 0;
    padding-bottom: 0.8rem;
}
.side-title h6{
    margin:0;
    color: #283e3e; 
}
.video p{
    font-size: 1rem;
    line-height: 0.5;
}

#description {
    margin-left: 3rem;

}

.section-icon {
    display: inline-block;
}



.like-btn {
    width: 2rem;
    height: 2rem;
    margin-left: 16.33rem;
    margin-bottom: -0.8rem;
    fill: #606060;
}

.like-word {
    margin-left: -0.2rem;
    margin-right: 0.5rem;
}

.dislike-btn {
    width: 2rem;
    height: 2rem;
    margin-bottom: -0.8rem;
    fill: #606060;
}

.dislike-word {
    margin-left: -0.2rem;
    margin-right: 0.5rem;
}

.share-btn {
    width: 2rem;
    height: 2rem;
    margin-bottom: -0.8rem;
    fill: #606060;
}
.share-word {
    margin-left: -0.5rem;
    margin-right: 0.5rem;
}

.save-btn {
    width: 2rem;
    height: 2rem;
    margin-bottom: -0.8rem;
    fill: #606060;
}

.save-word {
    margin-left: -0.5rem;
    margin-right: 0.5rem;
}

.three-dots {
    width: 2rem;
    height: 2rem;
    margin-bottom: -0.8rem;
    fill: #606060;
}

.profile-img {
    border-radius: 50%;
    margin-top: -6rem;
}

.profile-info {
    display: inline-block;
}

.sub-btn {
    display: inline-block;
    margin-left: 35rem;
    
}

#sub-btn {
    width: 6rem;
    height: 2rem;
    color: white;
    background-color: red;
    border: solid transparent;
    margin-top: -2rem;

}

#show-btn {
    border: solid transparent;
    margin-left: 2.8rem;
    margin-bottom: 1.3rem;
}


/*

.srch-icon {
    margin-bottom: 2rem;
}

.comment-btn {
    margin-top: 0.5rem;
    float: right;
    border: solid transparent;
    color: white;
    cursor: pointer;
}

.comment {
    width: 45rem;
    height: 2rem;
    float: right;
    border-top: solid transparent;
    border-left: solid transparent;
    border-right: solid transparent;
    border-bottom-color:#606060;;
    background: transparent;
    margin-top: 1rem;
    
}

.user-img {
    display: inline-block;
    margin-top: 5rem;
}


.user-info {
    display: inline-block;
    margin-top: 5rem;
}

.user-comment {
    border-radius: 50%;
    cursor: pointer;
}

.cmn-btn {
    width: 6.5rem;
    height: 2rem;
    margin-right: 1rem;
    border: solid transparent;
    background:#606060;
    cursor: pointer;
}

p b {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

small {
    background: rgb(247, 247, 248);
    font-size: 0.8rem;
    color:#606060;;
}

.sort-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    /* margin-top: -7rem;
    /* margin-bottom: -3rem; */
    /* margin-left: 8rem;  
    cursor: pointer;
}

.sort-word {
    display: inline;
    /* margin-top: -8rem; 
    
}

{
    margin-right: 33.7rem;
    margin-left: 4rem;
}

.comment-word {
    display: inline;
    margin-top: 2rem;
    
}

 /*.sort-word p{
margin-right: 6rem;
}*/ 
.comment-stat-container{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
} 
.comment-stat input{
    height: 2rem;
    width: 100%;
    border-top:  none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px #606060;
    
}
#btn-comment{
    float: right;
    height: 2rem;
    background-color: rgb(247, 247, 248);
    margin-top: 1rem;
    border: solid transparent;
    margin-left: 33rem;
}
#btn-cancel{
    float: right;
    width: 8rem;
    
    margin-top: 1rem;
    height: 2rem;
}
.user-img{
    border-radius: 1.5rem;
}
.sort-btn {
margin-top: 0.85rem;
height: 2rem;
margin-bottom: 2rem;
}
.comment-section {
    display: grid;
    grid-template-columns: 0.19fr 0.03fr 0.2fr;
}

#like-btn {
    width: 2rem;
    height: 2rem;
    margin-bottom: -0.8rem;
    margin-left: 4.3rem;
}

#like-word {
    margin-left: 0.5rem;
margin-right: 0.5rem;
}


#dislike-btn {
    width: 2rem;
    height: 2rem;
    margin-bottom: -0.8rem;
}

#dislike-word {
margin-left: 0.3rem;
margin-right: 0.5rem;
} */

/* article div {
    display: inline-block;
} */

#user-comment {
   display: inline-block;
}

#user-comment p{
    margin-left: 1rem;
}





.user-info {
    display: inline-block;
}

.user-comment {
    border-radius: 50%;

}

#icon {
    display: inline-block;
    margin-left: -5rem;
}

#user-comment {
    display: inline-block;
}

#comment-icon {
    display: inline-block;
}





